label {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 12px;
}
input {
  width: 100%;
  height: 50px;
  background-color: transparent !important;
  font-size: 18px;
  font-weight: 400;
  color: #fff !important;
}
select {
  width: 100%;
  height: 50px;
  background-color: transparent !important;
  font-size: 18px;
  font-weight: 400;
  color: #fff !important;
}
select > option {
  color: #000;
}
textarea {
  background-color: transparent !important;
  font-size: 18px;
  font-weight: 400;
  color: #fff !important;
}
